/* GetStartedPage.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent default body margin/padding and disable scrolling */
}

.get-started-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Hide overflow for smoother appearance */
}

.navbar {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #34495e;
  margin-bottom: 0px; /* Add space between navbar and carousel */
  padding: 10px; /* Add padding to improve spacing */
}

.navbar div {
  margin-left: 30px;
  display: flex;
  align-items: center; /* Align items vertically within the div */
}

.navbar img {
  height: 30px; /* Adjust the height as needed */
  margin-right: 10px;
}

.navbar p {
  margin: 0; /* Remove default margin */
}

.ml-auto {
  display: flex;
  align-items: center; /* Center-align the links */
}

.ml-auto a {
  color: #fff; /* Default link color */
  margin-right: 30px; /* Adjusted margin */
  text-decoration: none;
  transition: color 0.3s ease;
}

.ml-auto a:hover {
  color: #3fb6e5; /* Change link color on hover */
}

.carousel {
  position: relative;
}

.carousel-item img {
  max-height: 100%;
  width: 80%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.get-started-button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #2ecc71;
  color: #1b0101;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #27ae60;
}

.footer {
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: #E8E8E8;
}

.footer-link {
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0 20px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #3fb6e5;
}

.footer p1,
.footer p3 {
  color: #000;
  font-size: 13px;
  font-family: Raleway;
}

.footer p1 {
  margin-left: auto; /* Aligns the text to the right */
}

.footer p3 {
  margin-right: auto; /* Aligns the text to the right */
  margin-bottom: 5px;
}

.main{
  display: flex;
  height:100vh;
  width:100%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
h1{
  text-align:center;
  text-transform: uppercase;
  color: #F1FAEE; 
  font-size: 4rem;
}

.roller{
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #d91e1e;
}


#spare-time{
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #131313;
  
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;  
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px){
  h1{
  text-align:center;
  text-transform: uppercase;
  color: #F1FAEE; 
  font-size: 2.125rem;
}
  
  .roller{
  height: 2.6rem; 
  line-height: 2.125rem;  
  }
  
  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  
  .roller #rolltext {  
  animation: slide-mob 5s infinite;  
}
  
  @keyframes slide-mob {
  0%{
    top:0;
  }
  25%{
    top: -2.125rem;    
  }
  50%{
    top: -4.25rem;
  }
  72.5%{
    top: -6.375rem;
  }
}
}

.bg-image {

  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
  
}
.outerbox{
  display: flex;
  flex-direction: column;
}