.signup{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
.heading{
    text-align: center;
}
    .signup-box{

        padding: 40px;
        border: 1px solid black;
        min-width: 400px;
    }
    label,input{
        display: block;
        width: 100%;
        margin-block: 8px;
    }
    input{
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid black;
    }
    .submit{
        background-color: rgb(21, 255, 0);
        color: aliceblue;
        border: none;
        margin-top: 16px;
        font-weight: bold;
    }
label{
    font-weight: bold;

}
.submit:hover{
    background-color: blue;
    
}


}